body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#header
{
	height: 100vh;
	background: url(img/bg2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.user-box img
{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #6caed5; 
}
.user-box h1
{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}
.user-box p
{
	color: #fff;
}
.user-box2
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.user-box2 img
{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #6caed5; 
}
:hover.user-box2 img{
	border-radius: 50%;
	width: 300px;
	border: 2px solid #6caed5; 
	cursor: pointer;
}

:active.user-box2 img{
	border-radius: 50%;
	width: 250px;
	border: 2px solid #6caed5; 
	cursor: pointer;
  }
.user-box2 h1
{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}
.user-box2 p
{
	color: #fff;
}

.scroll-btn
{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-spacing: 5px solid #fff;
	border: 1px solid #fff;
	padding: 8px 8px 10px;
	border-radius: 10px;	
}
.scroll-bar span
{
	border: 1px solid #fff;
	font-size: 10px;
	border-radius: 25px;
}
.scroll-bar
{
	animation: mover 1s infinite alternate;
}
@keyframes mover
{
	0%{transform: translateX(0);}
	100%{transform: translateY(10px);}
}
.about
{
	padding-top: 30px;
	padding-bottom: 50px;
}
.profile-img
{
	height: 450px;
}
.nav-bar
{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar
{
	background-color: grey;
	padding: 0.5px;
	opacity: 50%;
}
.navbar-nav
{
	float: center;
	text-align: center;
}
.nav-link
{
	color: white !important;
}
.nav-item
{
	display: inline;
	margin: 1px;	
}
button
{
	background-color: black;
	color: white;
	border-radius: 10px;
	margin-left: 10px;
	padding: 10px;
	font-size: 12px;
	cursor: pointer;
}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600px;
	margin-left: 33%;
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 10px;
	background-color: gray;
	margin-left: 33%;
	margin-right: 10%;
}
.progress-bar
{
	border-radius: 16px;
	background: #00BFE6 !important;
	color: white;
	text-align: center; 	
}
.resume
{
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 30px;
	background: #f9f9f9;
}
.resume h3
{
	padding-left: 40px;
	margin-bottom: 15px;
}

.timeline
{
	list-style-type: none;
	position: relative;
	width: 420px;
}
.timeline:before
{
	content: '';
	background: #555;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 2px;
	height: 519px;
	z-index: 1;
}
.timeline li h4
{
	background-color: #000;
	padding: 5px 0 5px 0;
	color: #fff;
	font-size: 15px;
}
.timeline li h4 span
{
	font-weight: bold;
	color: #ccc;
}
.timeline li:before
{
	content: '';
	background: #555;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	left: 5px;
	width: 8px;
	height: 8px;
	z-index: 1;
}
.input-group input
{
	width: 75%;
	border: 0;
	outline: none !important;
	padding: 10px;
	margin: 2%;
	display: inline-block;
	background: #fff;
}
.text-area textarea
{
	width: 70%;

	border: 0;
	outline: none !important;
	padding: 10px;
	margin: 2%;
	background: #fff;
}
.submit-btn
{

	border: 0;
	outline: none !important;
	padding: 9px 10px;
	font-size: 9.5px;
	margin-left: 76%;
	background: #2ad0ff;
	cursor: pointer;
	color: #fff;
}
.submit-btn:hover

{
	transform: scale(1.2);
}
.submit-btn:active

{
	transform: scale(1);
}
.contact img
{
	width: 20px;
	margin: -5px 10px;	

}
.contact img:hover

{
	transform: scale(2);
}
.copyright
{
	text-align: center;
	margin-bottom: 20px;
	color: white;
}

.footer
{
	width:100%;	
	height: 465px;
	margin-top: 50px;
	padding-top: 10px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/IT.jpg);
	background-size: cover;
	background-attachment: fixed;  

}

